.swiper-container {
  &.swiper-container-horizontal {
    height: auto;
    max-height: 75vh;
    width: 100%;
  }

  &.swiper-container-vertical {
    max-height: 100vh;
    height: 50vh;
    width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;

    &:after {
      text-shadow: 0 0 7px rgba(0, 0, 0, .5);
    }
  }

  .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: auto;

    .swiper-video-container {
      width: 100%;
      height: 0;
      position: relative;
      padding-bottom: 56.25%;

      .swiper-overlay,
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
      }

      .swiper-overlay {
        z-index: 6;
      }
    }

    .swiper-text-container {
      padding: 1em 5em;

      h2 {
        margin-bottom: 1em;
      }
    }

    .swiper-image-container {
      position: relative;
      color: #fff;

      .swiper-image-title-overlay,
      .swiper-image-text-overlay {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        background: rgb(0, 0, 0);
        padding: 1em;
        font-weight: 200;
      }

      .swiper-image-title-overlay {
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        text-align: left;
        font-size: 2.5em;
      }

      .swiper-image-text-overlay {
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        text-align: right;
        font-size: 1.5em;

        p {
          margin-bottom: .5em;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    img,
    video {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
  }
}
