<div class="swiper-video-container video-youtube" data-video-type="youtube" data-rand="{{ random() }}">
    <div class="swiper-overlay-element swiper-overlay"></div>
    <div class="swiper-player youtube-player" data-id="{{ slide.external_data.video_id }}"></div>
</div>
